<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Class与Style绑定</title>
</head>

<body>
    <!-- 上下两个值一样 -->
    <template v-if="loginType === 'username'">
        <label>username</label>
        <input placeholder="Enter you name">
    </template>
    <template v-else>
        <label>Email</label>
        <input placeholder="Enter you emil address">
    </template>

    <!-- 用key来改变上下两个值一样的情况 -->
    <template v-if="loginType === 'username'">
            <label>username</label>
            <input placeholder="Enter you name" key="username-input">
        </template>
        <template v-else>
            <label>Email</label>
            <input placeholder="Enter you emil address" key="email-input">
        </template>
</body>

</html>