<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>组件</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>

<body>
    <div id="components-demo">
        <p>组件可以被复用，即添加多个组件，且它们之间互不影响</p>
        <button-counter></button-counter>
        <!-- 组件可以被复用，即添加多个组件，且它们之间互不影响 -->
        <!-- 注意当点击按钮时，每个组件都会各自独立维护它的 count。因为你每用一次组件，就会有一个它的新实例被创建。 -->
        <button-counter></button-counter>
        <button-counter></button-counter>
    </div>
    <hr>

    <div id="components-demo2">
        <p>也可以设置变量，控制它们一起变化</p>
        <button-counter2></button-counter2>
        <button-counter2></button-counter2>
        <button-counter2></button-counter2>
    </div>
    <hr>

    <div id="demo-3">
        <p>title直接写在组件的框里</p>
        <blog-post title="My journey with vue"></blog-post>
        <blog-post title="Blogging with vue"></blog-post>
        <blog-post title="You know why vue is so cute"></blog-post>
    </div>
    <hr>

    <div id="demo-4">
        <p>用for循环，title写在data里</p>
        <blog-post-demo v-for="post in posts" v-bind:key="post.id" v-bind:title="post.title"></blog-post-demo>
    </div>
    <hr>

    <div id="demo-5">
        <p>当接收n多个参数时，直接把它们写在一个post里</p>
        <blog-post-all v-for="post in posts" v-bind:key="post.id" v-bind:post="post"></blog-post-all>
    </div>
    <hr>


    <div id="blog-posts-events-demo">
        <p>通过事件向父级组件发送消息</p>
        <div :style="{ fontSize: postFontSize + 'em' }">
            <!-- 实践处理函数是 一个算式  -->
            <blog-post v-for="post in posts" v-bind:key="post.id" v-bind:post="post" v-on:enlarge-text="postFontSize += 0.1"></blog-post>
        </div>
    </div>
    <hr>

    <div id="blog-posts-events-demo2">
        <p>通过事件向父级组件发送消息2</p>
        <div :style="{ fontSize: postFontSize + 'em' }">
            <!-- 实践处理函数是 一个方法  -->
            <blog-post v-for="post in posts" v-bind:key="post.id" v-bind:post="post" v-on:enlarge-text="onEnlargeText"></blog-post>
        </div>
    </div>
    <hr>

    <!-- <div id="demo-6">
        <p>input的组件写法</p>
        <custom-input v-model="searchText"></custom-input>
    </div> -->

    <div id="dynamic-component-demo" class="demo">
        <p>动态组件——再一个多标签的界面里：</p>
        <button v-for="tab in tabs" v-bind:key="tab" v-bind:class="['tab-button',{ active: currentTab === tab }]" v-on:click="currentTab = tab">{{tab}}</button>
        <component v-bind:is="currentTabComponent" class="tab"></component>
    </div>
    <hr>

    <script>
        Vue.component('button-counter', {
            // 一个组件的 data 选项必须是一个函数
            // 因此每个实例可以维护一份被返回对象的独立的拷贝
            data: function () {
                return {
                    count: 0
                }
            },
            template: '<button v-on:click="count++">You clicked {{count}} times. </button>'
        })
        var demo1 = new Vue({
            el: '#components-demo'
        })


        var buttoncounterData = {
            count: 0
        }
        Vue.component('button-counter2', {
            //点击一个按钮也可能会像如下代码一样影响到其它所有实例：
            data: function () {
                return buttoncounterData
            },
            template: '<button v-on:click="count++">You clicked {{count}} times. </button>'
        })
        var demo2 = new Vue({
            el: '#components-demo2'
        })

        Vue.component('blog-post', {
            props: ['title'],
            template: '<h3>{{ title }}</h3>'
        })
        var demo3 = new Vue({
            el: '#demo-3'
        })

        Vue.component('blog-post-demo', {
            props: ['title'],
            template: '<h3>{{title}}</h3>'
        })
        var demo4 = new Vue({
            el: '#demo-4',
            data: {
                posts: [{
                        id: 1,
                        title: 'Hi,'
                    },
                    {
                        id: 2,
                        title: 'I am'
                    },
                    {
                        id: 3,
                        title: 'crazy'
                    }
                ]
            } //,

            //例子来源于——从一个 API 获取博文列表https://jsfiddle.net/chrisvfritz/sbLgr0ad
            // created: function(){
            //     var vm = this
            //     fetch('https://jsonplaceholder.typicode.com/posts')
            //         .then(function(response) {
            //             return response.json()
            //         })
            //         .then(function(data){
            //             vm.posts = data
            //         })
            // }
        })

        Vue.component('blog-post-all', {
            props: ['post'],
            template: '<div class="blog-post-all"><h3>{{ post.title }}</h3><div v-html="post.content"></div></div>'
        })
        var demo5 = new Vue({
            el: '#demo-5',
            data: {
                posts: [{
                        title: 'title1',
                        content: 'content1'
                    },
                    {
                        title: 'title2',
                        content: 'content2'
                    }, 
                    {
                        title: 'title3',
                        content: 'content3'
                    }
                ]
            }
        })

        Vue.component('blog-post', {
            props: ['post'],
            template: `
                <div class="blog-post">
                    <h3>{{post.title}}</h3>
                    <button v-on:click="$emit('enlarge-text')">
                        Enlarge text
                    </button>
                    <div v-html="post.content"></div>
                </div>
            `
        })
        new Vue({
            el: '#blog-posts-events-demo',
            data: {
                posts: [{
                    id: 1,
                    title: "进行内容放大",
                    content: 'intersting'
                }],
                postFontSize: 1
            }
        })

        //使用事件抛出一个值，通过$emit的第二个参数来提供这个值
        Vue.component('blog-post', {
            props: ['post'],
            template: `
                <div class="blog-post">
                    <h3>{{post.title}}</h3>
                    <button v-on:click="$emit('enlarge-text',0.2)">
                        Enlarge text
                    </button>
                    <div v-html="post.content"></div>
                </div>
            `
        })
        new Vue({
            el: '#blog-posts-events-demo2',
            data: {
                posts: [{
                    id: 1,
                    title: "进行内容放大",
                    content: '内容1'
                },
                {
                    id: 2,
                    title: "进行内容放大",
                    content: '内容2'
                }],
                postFontSize: 1
            },
            //将值作为参数，传给这个方法
            methods: {
                onEnlargeText : function(enlargeAmount) {
                    this.postFontSize += enlargeAmount
                }
            }
        })

        // Vue.component(
        //     'custom-input',{
        //         porps: ['value'],
        //         template: '<input v-bind:value="value" v-on:input="$emit(\'input\',$event.target.value)">'
        // })
        // var demo6 = new Vue({
        //     el:'#demo-6'
        // })

        //动态切换
        Vue.component('tab-home',{
            template: '<div>Home component</div>'
        })
        Vue.component('tab-posts',{
            template: '<div>Posts component</div>'
        })
        Vue.component('tab-archive',{
            template: '<div>Archive component</div>'
        })
        new Vue({
            el: '#dynamic-component-demo',
            data: {
                currentTab:'Home',
                tabs:['Home','Posts','Archive']
            },
            //currentTabComponent 可以包括:(1)一个组件的选项对象（2）或已注册的组件的名字
            computed: {
                currentTabComponent: function(){
                    return 'tab-' + this.currentTab.toLowerCase()
                }
            }
        })
    </script>
</body>

</html>